<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>SRViewer | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('get_asset', path='bootstrap.min.css')}}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {% block footer %}
        FOOT!
        {% endblock footer %}
        <script src="${url_for('get_asset', path='jquery-3.2.1.min.js')}"></script>
        <script src="${url_for('get_asset', path='bootstrap.min.js')}"></script>
    </body>
</html>